$default-font:'Montserrat', sans-serif;

$white-color: #ffffff;
$black-color: #000000;
$main-pink: #ff00ac;
$bg-color: #dcfbdc;
$grey-border: #eeeeee;
$light-green: #c2d24d;
$green: #76d725;
$dark-grey: #b3b3b3;
// $black-dot: #221f1f;
// $light-black: #393939;
// $header-bg: #f8f7f3;
// $grey-stick: #727272;
// $grey-btn: #d0d0d0;
// $menu-search-bg: #b1b1b1;
// $search-text-color: #585858;
// $menu-link-color: #292929;
// $light-grey: #d1d1d1;
// $total-price-bg: #dcdcdc;
// $sale-bg: #4f4f4f;
// $sale-color: #888888;
// $dots-border: #929292;


$container-lg: 870px;
$container-md: 690px;
$container-sm: 560px;
$container-xs: none;